body{
    background: url('hojas.jpg');
    background-attachment: fixed;
}
#logo{
    background: #155000;
}
#menu ul li:hover{
    background: #155000;
}
.button-more{
    background: #155000;
}
#enviar:hover{
    background: #155000;
}
